<mat-toolbar color="primary">
    <button mat-button
            routerLink="/home"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">
      Home
    </button>
    <button mat-button
            routerLink="/browser"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">
      Browser
    </button>
    <button mat-button
            routerLink="/comparer"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">
      Comparer
    </button>
    <button mat-button
            routerLink="/search"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">
      Search
    </button>
</mat-toolbar>